version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: images_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  api-service:
    build: ./api-service
    container_name: api-service
    env_file:
      - ./api-service/.env
    ports:
      - "4000:4000"
    depends_on:
      - postgres
      - rabbitmq

  worker-service:
    build: ./worker-service
    container_name: worker-service
    env_file:
      - ./worker-service/.env
    depends_on:
      - postgres
      - rabbitmq
      - minio

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - api-service

volumes:
  pgdata:
  minio-data:
